services:
  db:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    image: postgres:15
    env_file:
      - .env.prod.db
    volumes:
      - postgres_data:/var/lib/postgresql@15/data/
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres -h localhost"]
      interval: 30s
      timeout: 10s
      retries: 3
    security_opt:
      - no-new-privileges:true

  web:
    build:
      context: ./server
      dockerfile: Dockerfile.prod
    volumes:
      - static_volume:/home/app/web/staticfiles
    entrypoint: [
        "/bin/sh",
        "-c",
        "python manage.py makemigrations &&
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        gunicorn server.wsgi:application --bind 0.0.0.0:8000",
      ]
    expose:
      - 8000
    env_file:
      - ./server/.env
    security_opt:
      - no-new-privileges:true
    depends_on:
      - db

  nginx:
    build: ./nginx
    ports:
      - 83:80
    volumes:
      - static_volume:/home/app/web/staticfiles
    depends_on:
      - web
volumes:
  postgres_data:
  static_volume:

networks:
  default:
    driver: bridge
    internal: true
