{% extends "base.html" %}

{% block body %}
<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-gray-800">404</h1>
        <p class="text-2xl text-gray-600 mt-4">Page Not Found</p>
        <a href="{% url "main:index" %}" class="mt-6 inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Go Home</a>
    </div>
</div>
{% comment %} <div class="mt-8">
    <img src="" alt="Not Found" class="mx-auto w-1/2">
</div> {% endcomment %}
{% endblock body %}